@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Josefin+Sans:wght@100;200;400&family=Open+Sans:wght@300;400&family=PT+Serif:wght@400;700&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

.image__list {
  background-color: #f6f6f6;
  width: 100%;
  padding-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.image__list .gallery__image {
  width: 24.25rem;
  height: 32.5rem;
  border: 1px solid #e2e2e2;
  background-color: white;
  margin: 2rem auto;
}
.image__list .gallery__image .laptop .image__icons {
  display: none;
}
.image__list .gallery__image .image__main {
  width: 24.25rem;
  object-fit: cover;
}
.image__list .gallery__image .image__details {
  height: 6.25rem;
  width: 24.25rem;
  background-color: #fff;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image__list .gallery__image .image__details .image__author {
  font-family: "PT Serif", serif;
  font-weight: 300;
  font-size: 18px;
  filter: drop-shadow(0.5px 0.866px 0px #ffffff);
}
.image__list .gallery__image .image__details .image__author span {
  color: #c2c2bd;
}
.image__list .gallery__image .image__details .image__name {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
  font-size: 1.6rem;
  text-transform: uppercase;
}
.image__list .gallery__image .image__icons {
  height: 3.1rem;
  display: flex;
  flex-direction: row;
  background-color: #fff;
}
.image__list .gallery__image .image__icons .image__button {
  width: 50%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.image__list .gallery__image .image__icons .image__button p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: #000;
  line-height: 10px;
  color: #b6b6b4;
  letter-spacing: 2px;
  text-align: center;
  padding: 0.3rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.image__list .gallery__image .image__icons .image__button img {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 100%;
  flex-shrink: 0;
}
.image__list .gallery__image .image__icons .image__thumbup--liked img {
  filter: invert(87%) sepia(11%) saturate(1390%) hue-rotate(98deg) brightness(240%) contrast(94%);
}
.image__list .gallery__image .image__icons .image__redo {
  align-items: center;
  justify-content: center;
  display: flex;
}
.image__list .gallery__image .button__counter {
  min-width: 5rem;
}
.image__list .gallery__image .laptop {
  display: none;
}

.header {
  background-color: white;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.header .header__container {
  background-color: white;
  width: 93%;
  height: 11rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 320px;
}
.header .searchbar__container {
  border: 2px solid #f6f6f6;
  width: 14rem;
  display: flex;
  background-color: #f6f6f6;
  justify-content: center;
  border-radius: 1rem;
}
.header .searchbar__container input {
  width: 85%;
  border: none;
  background-color: #f6f6f6;
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 769px) {
  .image__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 2fr));
    grid-gap: 2rem 0.5rem;
    width: 100%;
  }
  .image__list .gallery__image {
    cursor: pointer;
  }
  .image__list .gallery__image .mobile {
    display: none;
  }
  .image__container:hover {
    display: flex;
    width: fit-content;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 100%);
  }
  .image__container:hover .image__main {
    opacity: 0.7;
  }
  .image__container:hover .image__thumbup--liked img {
    filter: invert(87%) sepia(11%) saturate(1390%) hue-rotate(98deg) brightness(240%) contrast(94%);
  }
  .image__container:hover .image__button--laptop img {
    border-radius: 100%;
    filter: brightness(0) invert(1);
  }
  .image__container:hover .image__button--laptop p {
    color: white;
  }
  .image__container:hover .image__button img {
    border-radius: 100%;
    filter: brightness(0) invert(1);
  }
  .image__container:hover .image__button p {
    color: white;
  }
  .image__container:hover .laptop {
    position: absolute;
    background-color: none;
    display: flex;
    flex-direction: column;
    margin-left: 20rem;
    margin-top: 1rem;
  }
  .image__container:hover .image__thumbup--liked img {
    filter: invert(87%) sepia(11%) saturate(1390%) hue-rotate(98deg) brightness(240%) contrast(94%);
  }
}
@media (min-width: 769px) and (max-width: 1150px) {
  .image__list {
    grid-template-columns: repeat(2, minmax(380px, 2fr));
  }
}

/*# sourceMappingURL=index.css.map */
